---
// title: 'hi';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{ title: 'Somoto', template: 'splash' }}>
  <p>This is a custom page with a custom component:</p>
</StarlightPage>
